<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="home-page">
                <h1>Welcome to my home page</h1>
            </div>
        </div>
    </div>
</div>