<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div id="product-page">
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-header">
                                    <h1>Product list</h1>
                                    <button type="button" class="btn btn-primary mr-1 pull-right" data-toggle="modal" (click)="this.openModal(createTemplate)">
                                        New product
                                    </button>
                                </div>
                                <div class="card-body">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Price</th>
                                            <th>Category</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let product of productList">
                                            <td>{{ product.name }}</td>
                                            <td>{{ product.price}}</td>
                                            <td>{{ product.category}}</td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-block btn-primary btn-ladda ladda-button" (click)="this.openModal(updateTemplate, product)">Update</button>
                                                <button type="button" class="btn btn-sm btn-block btn-danger btn-ladda ladda-button" (click)="this.deleteProduct(product)">Delete</button>
                                                <button class="btn btn-sm btn-block btn-warning btn-ladda ladda-button" (click)="this.viewProductDetails(product._id)">View details</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #createTemplate>
    <div class="modal-content">
        <form [formGroup]="productForm" (ngSubmit)="this.submitForm('create')">
            <div class="modal-header">
                <h4 class="modal-title pull-left">New product</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div class="input-group mb-3">
                        <input type="text" formControlName="name" name="name" class="form-control" placeholder="Product name" autocomplete="false" required>
                    </div>
                    <div class="input-group mb-4">
                        <input type="text" formControlName="price" name="price" class="form-control" placeholder="Price" autocomplete="false" required>
                    </div>
                    <div class="input-group mb-4">
                        <input type="text" formControlName="category" name="category" class="form-control" placeholder="Category" autocomplete="false" required>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</ng-template>
<ng-template #updateTemplate>
    <div class="modal-content">
        <form [formGroup]="productForm" (ngSubmit)="this.submitForm('update', '')">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Update product</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3">
                    <input type="text" formControlName="name" name="name" class="form-control" placeholder="Product name" autocomplete="false" required>
                </div>
                <div class="input-group mb-4">
                    <input type="text" formControlName="price" name="price" class="form-control" placeholder="Price" autocomplete="false" required>
                </div>
                <div class="input-group mb-4">
                    <input type="text" formControlName="category" name="category" class="form-control" placeholder="Category" autocomplete="false" required>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Close</button>
                <button type="submit" class="btn btn-primary">Save changes</button>
            </div>
        </form>
    </div>
</ng-template>
